@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Regular.woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Medium.woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi';
  src: url('../fonts/Satoshi-Bold.woff2');
  font-weight: 700;
  font-style: normal;
}

@layer components {
  .swiper-btn {
    @apply invisible hidden min-h-[48px] min-w-[48px] rounded-full border-2 border-black transition-all before:hidden before:translate-y-[3px] after:hidden hover:opacity-80 lg:visible lg:before:block;
  }
}

.swiper-button-prev {
  @apply swiper-btn before:content-[url('../../public/arrow-slider-left.svg')];
}

.swiper-button-next {
  @apply swiper-btn before:content-[url('../../public/arrow-slider-right.svg')];
}
